<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="container">
        <div id = "inner">
            <a href="/movie/all"
    target="_blank">查看电影</a><br>
    <a href="/movie/new"
    target="_blank">新增电影</a><br>
    <a href="/movie/updatemovie"
    target="_blank">更新电影</a><br>
    <a href="/movie/delete"
    target="_blank">删除电影</a><br>
    <a href="/signout"
    target="_blank">登出</a>
        </div>
    </div>
</body>
</html>
<style>

    #container{
            width: 320px;
			height: 300px;
			border: 10px solid #ccc;
			margin: 0 auto;
			background:#CCCCCC;
    }
    #inner{
        margin-top:15%;
        margin-left: 35%;
    }
    a{
        text-decoration:none;
        font-size:25px
    }

</style>