<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/main"
    target="_blank">返回首页</a>
<div id = "inn">
<form action="/movie/update/" method="post">
     {% csrf_token %}
    <table>
			<tr>
				<td>title</td>
				<td>
					<input name="title" type="text"/>
				</td>
			</tr>
			<tr>
				<td>movie_img</td>
				<td>
					<input name="movie_img" type="text"/>
				</td>
			</tr>

			<tr>
				<td>director</td>
				<td>
					<input name="director" type="text"/>
				</td>
			</tr>

			<tr>
				<td>actor</td>
				<td>
					<input name="actors" type="text"/>
				</td>
			</tr>

			<tr>
				<td>content</td>
				<td>
                    <textarea cols="15" rows="3" name="content" type="text"></textarea>
				</td>
			</tr>

			<tr>
				<td>grade</td>
				<td>
					<input name="grade" type="number" min="1.0" max="10" step="0.1"/>
				</td>
			</tr>
			<tr>
				<td>relese_date</td>
				<td>
					<input name="relese_date" type="date"/>
				</td>
			</tr>
			<tr>
				<td>link</td>
				<td>
					<input name="link" type="text"/>
				</td>
			</tr>
             <tr>
                 <td><button type="submit"> 更新电影</button><button type="reset" style="margin-left:5px"> 重置</button></td>
			</tr>
        </table>


</form>
</div>
</body>
</html>
<style>
	#inn{
		font-size:20px;
		color:black;
		width: 390px;
		height: 350px;
		border: 5px solid #CCCCCC;
		margin: 0 auto;
		background:#CCCCCC;
	}
	button{
		font-size:5px;
		width:70px;
 	 	height:25px;

	}
	form{
		margin-left:20px;
		margin-top:15px;
	}
</style>